* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: "Montserrat", sans-serif;
}


#branding h1 a:link, #branding h1 a:visited {
    color: #151515;
}


#header{
    
    background: rgba(32, 206, 16, 0.1);
    box-shadow: 0 3px 20px rgb(32 206 16 / 10%);
    color: #151515;
    height: 19vh;
    padding: 50px;
    margin: -30px -9px 29px 2px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: start;
    align-items: center;
}


#header b{
    color: #151515;
    /* font-size: 1.5em */
    font-size: 51px;
}
#header a {
    color: #151515;
}
#header a:link, #header a:visited {
    color: #151515;
}

#user-tools a:focus, #user-tools a:hover {
    text-decoration: none;
    border-color: #007bff;
    color: #007bff;
}
#user-tools a {
    border-bottom: #151515;
}

h1{
    color: #666;
}

#user-tools a:focus, #user-tools a:hover {
    text-decoration: none;
    border-color: #151515;
    color: #151515;
}

.module h2, .module caption, .inline-group h2 {
    caption-side: top;
    background: #151515;
    color: white;
}

a:link, a:visited {
    color: #151515;
    text-decoration: none;
}

div.breadcrumbs {
    background: #007bff;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #007bff;
   
}

.submit-row a.deletelink {
    display: block;
    background: #ba2121;
    border-radius: 4px;
    padding: 10px 15px;
    height: 38px;
    line-height: 15px;
    color: #fff;
}

h1#site-name p{
    margin: -5px 18px 3px 72px;
    font-size: 15px;
}